// 初始化
*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
ul,li {
    list-style: none;
}
.common-scroll{
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        border-radius: 10px;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #aaa;
    }
}
.common-table{
    &-btns{
        margin: 0px 0 20px;
        >a{
            margin-right: 10px;
        }
    }
    &-btns--margin{
        margin-right: 10px;
    }   
}
.common-breadcrumb--style{
    margin-bottom: 20px;
}
.siteDetail{
    &-container{
        margin-top: 20px;
        display: flex;
    }
    &-form--style{
        // width: 500px;
        float: 1;
    }
    &-map{
        flex: 1;
        height: 70vh;
        margin-left: 50px;
    }
}
.sign{
    &-card{
        width: 100% !important;
        margin-top: 20px;
        &_more{
            margin-bottom: 10px;
        }
        &_item{
            flex-shrink: 0;
            margin-bottom: 15px;
            margin-left: 0px !important;
            margin-right: 10px;
            position: relative;
            i{
                color: #67C23A;
                position: absolute;
                right: -5px;
                top: -5px;
                font-size: 20px;
            }
        }
        &-content{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    &-radio{
        margin-bottom: 20px;
        &_text{
            display: inline-block;
            width: 100px;
        }
    }
}
.common-image{
    width: 50px;
    height: 50px;
}
.common-show-image{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.common-blur-color{
    color: #66b1ff;
}
.common-select-color input{
    border-color:#dcdfe6 !important;
}
.common-danger{
    color: #f56c6c;
    font-weight: bold;
}
.common-warn{
    color: #e6a23c;
    font-weight: bold;
}
.common-success{
    color: #67c23a;
    font-weight: bold;
}
.common-border{
    border-bottom: 1px solid #DCDFE6;
    padding-top: 20px;
}
.el-step__icon-inner{
    display: none !important;
}