<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/basic/index.css">
</head>
<body>
    <div class="container">
        <div class="header">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/static/images/default.jpg" alt="">
                            <p>Gary个人博客</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">学习笔记</a>
                    </li>
                </ul>
            </div>
            <div class="content">