<%- include('header.html'); -%>
    <ul>
        <li>
            <% data.forEach(function(article) {%>
            <a href="/<%= article.id %>" class="article-item">
                <p class="article-item-title"><%= article.name %></p>
                <p class="article-item-footer">
                    <span>点赞数：<%= article.thumbs_up %></span>
                    <span>更新时间：<%= article.updated_at %></span>
                </p>
            </a>
            <% }); %>
        </li>
    </ul>
<%- include('footer.html'); -%>